body {
    background-color: lightblue;
  }
  
  h1 {
    font-size: 50px;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }


/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
  body {
    background-color: darkcyan;
    color: white;
  }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
  body {
    background-color: purple;
    color: white;
  }
}

  #banner {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 1000px;
    height: 100px;
    z-index: -1;
  }

  div.topic{
    height: 100%;
  }

  #main{
    background-color: cyan;
  }
  #food{
    background-color: green;
  }

  #mobility{
    background-color: red
  }

  #energy{
    background-color: orange;
  }

  #consumerism{
    background-color: aquamarine;
  }

  #waste_and_recycling{
    background-color: peru;
  }

  #about{
    background-color: whitesmoke;
  }